.messageContainer {
  height: 100vh;
  width: 35vw;
  background-color: white;
  border: solid 2px;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
}

.contentContainer {
  height: 92.8%;
  width: 100%;
  overflow-y: scroll;
}

.inputsContainer {
  height: 7.2%;
  width: 100%;
  display: flex;
}

.textContainer {
  width: 70%;
  height: 100%;
}

.textContainer div.MuiFormControl-root {
  /* height: 100%; */
  width: 100%;
}

.textContainer div.MuiFormControl-root label.MuiFormLabel-root {
  font-size: 1.5rem !important;
}

.textContainer div.MuiFormControl-root div.MuiInputBase-root {
  font-size: 1.5rem !important;
}

.imageInputContainer,
.enterInputContainer {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageInputContainer > button,
.enterInputContainer > button {
  width: 100%;
  height: 100%;
}

.imageInputContainer > button svg,
.enterInputContainer > button svg {
  width: 80%;
  height: 80%;
}
