.messageContainer {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to top,
    #7400b8,
    #0073fb,
    #00abff,
    #00d9ee,
    #80ffdb
  );
  border: solid 2px;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  border-radius: inherit;
}

.contentContainer {
  height: 92.8%;
  width: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.inputsContainer {
  height: 7.2%;
  width: 100%;
  display: flex;
  padding: 0.5rem;
}

@media only screen and (max-width: 426px) {
  .inputsContainer {
    height: 19.2%;
  }

  .contentContainer {
    height: 80.8%;
  }
}
